html,
body {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: #546e7a;
}

#score {
	font-family: monospace;
	font-size: 1rem;
	line-height: 1.25;
	color: #fff;
	text-transform: uppercase;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #fff;
}

canvas {
	display: block;
}

footer {
	padding: 1rem;
	border-top: 1px solid #fff;
}

nav {
	max-width: 30rem;
	margin: auto;
}

nav ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none outside none;
}

nav li {
	padding: 0 0.325rem;
}

nav a,
nav svg {
	display: block;
}

nav a {
	color: #fff;
}

.c-svg-email {
	width: 1.5rem;
	height: 1.69rem;
	fill: currentColor;
}

.c-svg-github,
.c-svg-gitlab {
	width: 1.5rem;
	height: 1.63rem;
	fill: currentColor;
}

.c-svg-twitter {
	width: 1.5rem;
	height: 1.38rem;
	fill: currentColor;
}

.c-svg-npm {
	width: 1.5rem;
	height: 1.5rem;
	fill: #546e7a;
	background-color: currentColor;
	border-radius: 0.25rem;
}

.c-svg-stackoverflow {
	width: 1.5rem;
	height: 1.5rem;
	fill: currentColor;
}

.c-svg-youtube {
	width: 3rem;
	height: 1.5rem;
	fill: currentColor;
}

.c-svg-linkedin {
	width: 1.5rem;
	height: 1.63rem;
	fill: currentColor;
}

.c-svg-logo {
	width: 1.75rem;
	height: 1.75rem;
	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0.325rem;
}

.c-svg-codepen,
.c-svg-google-plus {
	width: 1.5rem;
	height: 1.5rem;
	fill: currentColor;
}

.c-svg-codersrank {
	width: 2.5rem;
	height: 1.5rem;
}
